:root {
  --fundo: #a27f5f;
  --cor: #cab6a7;
  --borda: #4b251b;
  --texto: #2f2523;
  font-size: 16px;
  --open: 'Open Sans', sans-serif;
  --proza: 'Proza Libre', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}