:root {
  --escuro: 0;
  --fundo: hsl(0, 0%, calc((92 - (var(--escuro, 0) * 84)) * 1%));
  --cor: hsl(calc(48 - (var(--escuro, 0) * 20)), 100%, calc((44 - (var(--escuro, 0) * 12)) * 1%));
  --borda: hsl(8, calc((62 + (var(--escuro, 0) * 38)) * 1%), 28%);
  --texto: hsl(36, calc((32 + (var(--escuro, 0) * 68)) * 1%), calc((12 + (var(--escuro, 0) * 48)) * 1%));
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}