

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: var(--open);
}

header, footer, section {
    padding: .5rem;
}

h1, h2, h3, h4 {
    font-family: var(--proza);
}

h2 {
    display: inline-block;
    padding: 0 .5rem;
    border: 3px var(--borda);
    border-style: none dashed dashed none;
    margin-bottom: 1rem;
}

a:link {
    color: var(--link);
}

a:visited {
    color: #660666;
}

a:hover {
    color: #3d2520;
}

a:active {
    color: #660636;
}

.separador {
    width: 24vw;
    margin: 1rem auto;
}

.separador img {
    width: 24vw;
    color: var(--borda);
}

/* Header */

header {
    display: flex;
    justify-content: center;
}

.inicio {
    margin: 2rem 0;
}

.inicio:visited {
    color: var(--texto);
}

.logo {
    max-width: 72vw;
}

.conteiner {
    position: absolute;
    top: .75rem;
    right: .75rem;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 72vh;
    border: 2px solid var(--borda);
    border-radius: 1rem;
    background-color: var(--fundo);
}

.conteiner:hover .menu {
    display: block;
}

.menu__botao {
    width: 3rem;
    height: 3rem;
    background-color: var(--fundo);
    color: var(--texto);
    font-size: 42px;
}

.atalhos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.atalhos > li {
    width: 100%;
    list-style: none;
}

.menu__link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .75rem;
    font-size: 20px;
}

.menu__link:visited {
    color: var(--link);
}

.menu__link:hover {
    background-color: var(--texto);
    color: var(--cor);
}

.menu__link:active {
    background-color: var(--link);
}

.icone {
    font-size: 1.8rem;
}

/* Carrossel */

.carrossel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.carrossel__imagem {
    display: none;
    height: 20rem;
    border: 2px solid var(--borda);
    border-radius: .25rem;
}

.carrossel__botao {
    width: 2rem;
    height: 2rem;
    background-color: var(--fundo);
    color: var(--texto);
    font-size: 42px;
}

.moldura > .carrossel__imagem {
    display: initial;
}

.lateral > .carrossel__imagem {
    height: 17rem;
}

/* Mural de Fotos */

.mural {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .25rem;
}

.foto {
    width: 100%;
    border: 1px solid var(--borda);
    border-radius: .5rem;
}

@media (max-width: 599px) {
    .imagem {
        transition: var(--transicao);
    }
    
    .imagem:focus {
        outline: none;
        transform: scale(3.2);
    }
    
    .imagem:nth-child(3n - 2):focus {
        transform: scale(3.2) translateX(32.5%);
    }
    
    .imagem:nth-child(3n):focus {
        transform: scale(3.2) translateX(-32.5%);
    }
}

/* Feedbacks */

.perfil {
    float: right;
    width: 10rem;
    border: 1px solid var(--borda);
    border-radius: 50%;
    margin: .75rem;
    shape-outside: circle(50%);
}

.feedback {
    display: flow-root;
    padding: .5rem;
    margin-top: 1rem;
}

.feedback:not(:first-of-type) {
    border-top: 4px dotted var(--borda);
}

/* Contato */

.contato {
    padding: .75rem;
    margin: .5rem auto;
}

.contato__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border: 2px solid var(--borda);
    border-radius: .25rem;
    margin: .5rem 0;
    background-color: var(--cor);
    font-size: 20px;
}

.contato__link:hover, 
.contato__link:active {
    background-color: var(--borda);
    color: var(--cor);
}

.contato__link .icone {
    margin-right: .5rem;
}

/* Rodapé */

.credito {
    font-size: 14px;
}

.credito p {
    line-height: 1.4;
}

footer a {
    display: inline-block;   
}

/* Pacotes */

.pacotes {
    display: grid;
    grid-template-columns: 85vw;
    justify-content: center;
}

@media (min-width: 600px) {
    .pacotes {
        grid-template-columns: 1fr 1fr;
        grid-gap: .75rem;
    }
}

.pacote {
    place-self: center;
    max-width: 96vw;
    max-height: 92vh;
    border: 2px solid var(--borda);
    border-radius: .25rem;
    margin-top: 1rem;
}