body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: var(--open);
}

header, footer, section {
    padding: .5em;
    margin: 1em;
}

h1, h2, h3, h4 {
    font-family: var(--proza);
}

h2 {
    display: inline-block;
    padding: 0 .5rem;
    border-right: 3px dashed var(--borda);
    border-bottom: 3px dashed var(--borda);
    margin-bottom: 1rem;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

/* Sobre Mim */

.perfil {
    float: right;
    width: 10rem;
    border: 1px solid var(--borda);
    border-radius: 50%;
    margin: .75rem;
    shape-outside: circle(50%);
}

/* Carrossel */

.carrossel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel__imagem {
    display: none;
    height: 20rem;
    border: 2px solid var(--borda);
}

.selecionada {
    display: initial;
}

.carrossel__botao {
    width: 2rem;
    height: 2rem;
    background-color: var(--fundo);
    color: var(--texto);
    font-size: 42px;
}

#voltar {
    visibility: hidden;
    /* float: left; */
}

/* #avancar {
    float: right;
} */

/* Mural de Fotos */
  
.mural {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .25rem;
}

.foto {
    width: 100%;
    height: auto;
    border: 1px solid var(--borda);
}

.imagem {
    transition: 500ms;
}

.imagem:focus {
    outline: none;
    transform: scale(3.3);
}

.imagem:nth-child(3n - 2):focus {
    transform: scale(3.3) translateX(33%);
}

.imagem:nth-child(3n):focus {
    transform: scale(3.3) translateX(-33%);
}

/* Feedbacks */

.feedback {
    display: flow-root;
    padding: .5em;
    border-top: 4px dotted var(--borda);
    margin-top: 1rem;
}

/* Formulário de Contato */

.campo {
    margin: .25rem;
}

.info,
.botao {
    width: 100%;
    height: auto;
    padding: .5rem .25rem;
    border: 2px solid var(--borda);
    border-radius: .25rem .25rem 0 0;
    margin: .5rem auto;
    background-color: var(--cor);
    color: var(--texto);
    font-size: 16px;
}

.botao {
    font-size: 26px;
}

.mensagem {
    min-height: 7rem;
}