:root {
    --transicao: .5s;
    --fundo: #a27f5f;
    --cor: #cab6a7;
    --borda: #4b251b;
    --texto: #2f2523;
    --link: #660606;
    --open: 'Open Sans', sans-serif;
    --proza: 'Proza Libre', sans-serif;
}